:root{

    --color-main: #02A28F;
    --color-white: #FFFFFF;
    --font-defaut: "Montserrat", sans-serif;

}

html{

    font-size: 10px;

}

body{

    margin: 0rem;
    padding: 0rem;
    font-family: var(--font-defaut);
    width: auto;

}

header{

    background-color: var(--color-main);
    margin: 0;

}

    #titleHeader{

        margin: 0;
        font-size: 3.6rem;
        font-weight: 700;
        color: var(--color-white);
        padding: 1.6rem 15.6rem 1.6rem 15.6rem;

    }

main{

    margin: 1rem 32rem 0rem 32rem;
    display: flex;
        
}

.container-main{

    display: flex;
    flex-direction: column;

}

    #banner{

        display: inline-block;
        position: relative;
        margin: 8rem 0rem 0rem 0rem;
        cursor: pointer;

    }

        #imagemAsideTop{

            width: 74.4rem;
            height: 39.6rem;
            border-radius: 1rem;
    
        }

        #textBanner{

            position: absolute;
            top: 30rem;
            left: 2rem;
            color: var(--color-white);
            text-shadow: 0 0 3rem black;

        }

            #textBanner p{

                font-size: 1.6rem;
                margin: 0;

            }

            #textBanner h3{

                font-size: 3.2rem;
                margin: .2rem 0rem .2rem 0rem;

            }

    .asideTop{

        margin: 8rem 0rem 0rem 3rem;

    }

        .titlePost{

            background-color: var(--color-main);
            color: var(--color-white);
            font-size: 2rem;
            font-weight: 700;
            border-radius: 1rem;
            padding: 1.6rem 2.4rem 1.6rem 2.4rem;
            margin: 0rem 0rem 1.5rem 0rem;

        }

        .titlePost a {

            margin: 0rem 0rem 0rem 41rem;
            font-size: 1.4rem;
            font-weight: 500;
            color: var(--color-white);
        }

        .topicosAsideTop{

            display: flex;
            width: 45rem;
            height: 9rem;
            margin: 0rem 0rem 2.4rem 0rem;
            background-color: var(--color-white);
            box-shadow: .4rem 1.5rem 1rem rgba(0, 0, 0, 0.15);
            border-radius: 1rem;
            cursor: pointer;

        }

            .topicosAsideTop:last-child{

                margin-bottom: 0;
            }

            .topicosAsideTop .imagensAside{

                width: 13.2rem;
                height: 7rem;
                border-radius: 1rem;
                margin: 1rem 0rem 1rem 1.5rem;
            
            }

            .topicosAsideTop h3{

                font-size: 1.4rem;
                font-weight: 700;
                margin: 1rem 0rem 0rem 1rem;
                color: #000000;

            }

            .topicosAsideTop p{

                font-size: 1.2rem;
                font-weight: 500;
                margin: .5rem 0rem 0rem 1rem;
                color: #616161;

            }
        
#titlePostRecentes{

    margin: 2.5rem 2rem 0rem 0rem;
    width: 74.4rem;

}

#sessaoCard{

    display: grid;
    grid-template-columns: repeat(2, 1fr)
    
}

    #sessaoCard img{

        margin: 0rem 0rem 0rem -2rem;
        cursor: pointer;
        
    }

#sessaoLinksNav{

    width: 45.3rem;

    margin: 2.5rem 0rem 0rem 3rem;

}

    #listaLink{

        list-style: none;
        padding: 0;
        width: 36.1rem;

    }

        #listaLink a{

            text-decoration: none;

        }

        .textListLink{

            font-size: 1.6rem;
            color: #616161;
            font-weight: 600;
            margin: 1rem 2rem 2rem 0rem;

        }
    
footer{

    background-color: var(--color-main);
    margin: 8rem 0rem 0rem 0rem;
    height: 100%;

}

    footer p{

        margin: 0rem;
        padding: 2rem 0rem 2rem 0rem;
        font-size: 1.4rem;
        font-weight: 600;
        color: var(--color-white);

        text-align: center;

    }
