/*Variaveis*/
:root{

    --color-main: #02A28F;
    --color-white: #FFFFFF;
    --font-defaut: "Montserrat", sans-serif;

}

html{

    font-size: 10px;

}

body{

    margin: 0rem;
    padding: 0rem;
    font-family: var(--font-defaut);
    width: auto;

}

/*Sessão Header*/
header{

    background-color: var(--color-main);
    margin: 0;

}

    #titleHeader{

        margin: 0;
        font-size: 3.6rem;
        font-weight: 700;
        color: var(--color-white);
        padding: 1.6rem 15.6rem 1.6rem 15.6rem;

    }

/*Sessão principal do blog*/
main{

    margin: 1rem 32rem 0rem 32rem;
    display: flex;
        
}

.container-main{

    display: flex;
    flex-direction: column;

}
    /*Sessão Banner*/
    #banner{

        display: inline-block;
        position: relative;
        margin: 8rem 0rem 0rem 0rem;
        cursor: pointer;

    }

        #imagemBanner{

            width: 74.4rem;
            height: 39.6rem;
            border-radius: 1rem;
    
        }

        #textBanner{

            position: absolute;
            top: 30rem;
            left: 2rem;
            color: var(--color-white);
            text-shadow: 0 0 4rem black;

        }

            #textBanner p{

                font-size: 1.6rem;
                margin: 0;
                font-weight: 400;

            }

            #textBanner h3{

                font-size: 3.2rem;
                margin: .2rem 0rem .2rem 0rem;

            }
    
    /*Classe criada para manipular a posição do titulo "Posts mais recentes" e do "link Ver todos" */
    .titleAndLink{

        display: flex;
        justify-content: space-between;
        align-items: center;

    }

    /*Titulo dos cards e dos links dos navs*/
    #titlePostRecentes{

        margin: 2.5rem 2rem 0rem 0rem;
        width: 74.4rem;
                    
    }
        /*Classe reltilizada nos titulos da pagina (Post mais recentes, Post populares e Categorias )*/   
        .titlePost{

            background-color: var(--color-main);
            color: var(--color-white);
            font-size: 2rem;
            font-weight: 700;
            border-radius: 1rem;
            padding: 1.6rem 2.4rem 1.6rem 2.4rem;
            margin: 0rem 0rem 1.5rem 0rem;
    
        }

            /*Manipulação do link que fica do lado do titulo Post mais recentes*/
            .titlePost a {

                font-size: 1.4rem;
                font-weight: 500;
                color: var(--color-white);

            }
    
    /*Sessão card*/
    #sessaoCard{

        display: grid;
        grid-template-columns: repeat(2, 1fr)
                
    }
            
        #sessaoCard img{
            
            margin: 0rem 0rem 0rem -2rem;
            cursor: pointer;
                    
        }
    
    /*Inicio dos topicos da sessão Nav da pagina*/
    .navTop{

        margin: 8rem 0rem 0rem 3rem;

    }

        .topicosNavTop{

            display: flex;
            width: 45rem;
            height: 9rem;
            margin: 0rem 0rem 2.4rem 0rem;
            background-color: var(--color-white);
            box-shadow: .4rem 1.5rem 1rem rgba(0, 0, 0, 0.15);
            border-radius: 1rem;
            cursor: pointer;

        }

            .topicosNavTop:last-child{

                margin-bottom: 0;
            }

            .topicosNavTop .imagensNav{

                width: 13.2rem;
                height: 7rem;
                border-radius: 1rem;
                margin: 1rem 0rem 1rem 1.5rem;
            
            }

            .topicosNavTop h3{

                font-size: 1.4rem;
                font-weight: 700;
                margin: 1rem 0rem 0rem 1rem;
                color: #000000;

            }

            .topicosNavTop p{

                font-size: 1.2rem;
                font-weight: 500;
                margin: .5rem 0rem 0rem 1rem;
                color: #616161;

            }
    
    /*Sessão dos links da página*/
    #sessaoLinksNav{
            
        width: 45.3rem;
            
        margin: 2.5rem 0rem 0rem 3rem;
            
    }

        #listaLink{

            list-style: none;
            padding: 0;
            width: 36.1rem;

        }

            #listaLink a{

                text-decoration: none;

            }

            .textListLink{

                font-size: 1.6rem;
                color: #616161;
                font-weight: 600;
                margin: 1rem 2rem 2rem 0rem;

            }
    
/*Sessão rodapé da página*/
footer{

    background-color: var(--color-main);
    margin: 8rem 0rem 0rem 0rem;
    height: 100%;

}

    footer p{

        margin: 0rem;
        padding: 2rem 0rem 2rem 0rem;
        font-size: 1.4rem;
        font-weight: 600;
        color: var(--color-white);

        text-align: center;

    }


@media only screen and (max-width: 1023px){

        /*Sessão Header*/
        #titleHeader{

            font-size: 2.4rem;
            padding: 1.6rem 0rem 1.6rem 0rem;
            text-align: center;

        }

    /*Sessão principal do blog*/
    main{

        margin: 0rem 1rem 0rem 1rem;
        display: flex;
        flex-direction: column;

    }

    .container-main{

        display: flex;

    }

        /*Sessão Banner*/
        #banner{

            margin: 2rem 0rem 0rem 0rem;

        }

            #imagemBanner{

                width: 100%;
                border-radius: 1rem;
    
            }

            #textBanner{

                top: 28rem;
                left: 2rem;
    
            }

                #textBanner h3{

                    font-size: 2.4rem;

                }

        /*Titulo dos cards e dos links dos navs*/
        #titlePostRecentes{

            margin: 2em 0rem 0rem 0rem;
            width: 100%;

        }

            /*Classe reltilizada nos titulos da pagina (Post mais recentes, Post populares e Categorias )*/
            .titlePost{

                font-size: 1.9rem;
                font-weight: 700;
                border-radius: 1rem;
                padding: 1rem 1rem 1rem 1rem;
                margin: 0rem 0rem 1.5rem 0rem;
    
            }

                /*Manipulação do link que fica do lado do titulo Post mais recentes*/
                .titlePost a {

                    font-size: 1.2rem;

                }
        
        /*Sessão card*/
        #sessaoCard{

            display: grid;
            grid-template-columns: repeat(1, 1fr)
                            
        }

            #sessaoCard img{

                width: 100%;
                margin: 0rem .6rem 0rem -.10rem;
                    
            }

        /*Classe criada para colocar os titulo de Post populares e Categorias no centro*/
        .titleCenter{

            text-align: center;
    
        }

        /*Inicio dos topicos da sessão Nav da pagina*/
        .navTop{

            margin: 0rem 0rem 0rem 0rem;
        
        }

            .topicosNavTop{

                width: 100%;
                margin: 0rem 0rem 2.4rem 0rem;

            }

                .topicosNavTop .imagensNav{

                    margin: 1rem 0rem 1rem 1rem;
            
                }

                .topicosNavTop h3{

                    font-size: 1.2rem;
                    margin: 1rem 0rem 0rem 1rem;

                }

                .topicosNavTop p{

                    font-size: 1.1rem;
    
                }
        
        /*Sessão dos links da página*/
        #sessaoLinksNav{
            
            width: 100%;
                        
            margin: 2rem 0rem 0rem 0rem;
                        
        }

    /*Sessão rodapé da página*/
    footer{

        margin: 2rem 0rem 0rem 0rem;

    }

}
